/* src/app/globals.css */

@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --color-primary: #047857; /* Emerald hijau tua */
    --color-primary-dark: #065f46;
    --color-bg: #f9fafb;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-mono: var(--font-geist-mono);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  }
}

/* Anda bisa menambahkan style kustom lainnya di @layer components atau @layer utilities di sini */